@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');


h1{
    font-family: 'Roboto', sans-serif;
  }

.content{
    padding: 1rem;
}

.tituloPrincipal{
    margin: 0;
}

.listaPoke{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.listaPoke li{
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: aqua;
    height: 10rem;
}